body {
    
    font-family: monospace, cursive, helvetica;
    background-color: turquoise;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    
}

.container {
    
    width: 70%;
    margin: auto;
    overflow: hidden;
   

    
}

.container h1 {
    
    margin: auto;
    padding: 30px;
    border: 5px solid black;
    opacity: 0.5;
    text-align: center;
    font-size: 20px;
    color: black;
    filter: alpha(opacity=50);
    background-color: #ffffff;
    margin-top: 50px;
    
}



header {
    
    background: white;
    border-bottom: black 5px solid;
    border-top: black 5px solid;
    min-height: 120px;
    
    
}

header h1 {
    
    margin-top: 50px;
    
}

nav {
    
    margin-top: 50px;
    text-transform: uppercase;

}

header li {
    
    display: inline;
    margin: 10px;
    font-size: 15px;

}

header a {
    
    text-decoration: none;
    color: black;
    
    
}

#showcase {
    
    background: url(aboutme.jpg) no-repeat ;
    background-size: cover;
    color: black;
    max-width: 100%;
    height: auto;
}

#showcase h1 {
    
    width: 40%;
    margin-top: 50px;
    box-shadow: 10px 10px 10px grey;
    
    
}

#showcase p {
    
    width: auto;
    margin: auto;
    color: white;
    font-family: monospace ;
    font-size: 14px;
    padding: 40px;
    
}


#showcase img {
    
    border: 3px solid darkturquoise;
    padding: 5px;
    margin: 8px;

}




footer li {
    
    display: inline;
    
}

footer a {
    
    text-decoration: none;
    color: black;
}

footer {
    
    background-color: white;
    border-top: black 5px solid;
    border-bottom: black 5px solid;
    font-family: serif;
    text-align: center;
}

h3 {
    
    font-family: serif;
    
}



li .highlight {
    
    color: turquoise;
    font-weight: bold;
    
}

header a:hover{
    
    font-weight: bold;
    color: black;
    
}

footer a:hover {
    
    font-weight: bold;
    color: blue;
    
}




@media(max-width: 770px) {
    
    header h1, nav  {
        float: none;
    }
    
    
}

header ul {
    
    margin: 0px;
    padding: 0px;
    
}

